{% extends 'base_admin.html'%} 

{%block title%} Admin panel {%endblock%}


{% block head %}

{% endblock %} 

{% block card%}

<div style="padding-left: 3rem;" class="card-deck">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Users</div>
      <div class="card-body">
        <h5 class="card-title">Total Registered users</h5>
        <p class="card-text text-white"><b>{{length_user}}</b></p>
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
      <div class="card-header">Products</div>
      <div class="card-body">
        <h5 class="card-title">Total Products</h5>
        <p class="card-text text-white"><b>{{length_product}}</b></p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
      <div class="card-header">Orders</div>
      <div class="card-body">
        <h5 class="card-title">Total Orders</h5>
        <p class="card-text text-white"><b>0</b></p>
      </div>
    </div>
  </div>
{% endblock %}
{% block content%}

{% endblock %} 